body {
    background: #0d0d0d;
    color: white;
    font-family: Arial;
    text-align: center;
}

#board {
    display: grid;
    grid-template-columns: repeat(3, 120px);
    justify-content: center;
    margin-top: 20px;
}

.cell {
    width: 120px;
    height: 120px;
    font-size: 40px;
    border: 2px solid #444;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.cell:hover {
    background: #1a1a1a;
}
